.about-product {
  padding: 71px 110px 0 110px;

  &__title {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
  }

  &__list {
    padding: 0;
    margin: 24px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
  }
}

.about-product__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 280px;
  width: 246px;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;

  &:nth-child(n+1) {
    width: 230px;
    background-image: url("../img/1.svg");
  }

  &:nth-child(n+2) {
    background-image: url("../img/2.svg");
  }

  &:nth-child(n+3) {
    background-image: url("../img/3.svg");
  }

  &:nth-child(n+4) {
    background-image: url("../img/4.svg");
  }

  &-img {
    margin: 40px 0 31px 0;
  }

  &-description {
    font-family: "Arial", sans-serif;
    line-height: 24px;
    margin: 0;
  }
}
