body {
  background-color: $base-color-white;
}

.page {
  width: 100%;
}

.page__body {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  position: relative;
}


a {
  text-decoration: none;
  color: $base-color-white;
}
