.billboard {
  margin: 0 0 0 0;
  padding: 141px 0 0 0;
  height: 720px;
  background-image: url('../img/bg-cat-true.png');
  background-position: 100% 0;
  background-repeat: no-repeat;
  //background-size: 720px 694px;
}
