.header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 53px 110px 0 110px;
}


.main-navigation__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  text-transform: uppercase;
  font-size: $font-size;
  .main-navigation__item:not(:first-child) { margin-left: $base-margin*9; }
  .main-navigation__link--active {
    border-bottom:2px solid $base-color-white;
  }
}

@media screen and (min-width: 750px) {
  .header__logo--xs { display: none; }
  .main-navigation-toggle { display: none; }
}
