.map {
  height: 400px;
  padding: 0;
  width: 100%;
  background-color: $base-color-gray-border;
  display: flex;
  flex-direction: column;
  position: relative;

  &__header {
    position: absolute;
    top: 95px;
    left: 110px;
    width: 570px;
    height: 201px;
    background-color: $base-color-white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .invitation {
      font-family: "Oswald", sans-serif;
      font-size: 20px;
      line-height: 21px;
      max-width: 163px;
      text-transform: uppercase;
    }

    .address {
      line-height: 20px;
      margin-left: 87px;
      font-family: "Arial", sans-serif;
    }
  }
}
