.programs {
  padding: 82px 110px 0 110px;
  font-family: "Oswald", sans-serif;

  .programs__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding: 0;

    .programs__item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      background-color: $base-color-gray;
      max-width: 570px;
      width: 100%;
    }
  }
}

.programs__item-header {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  .programs__item-logo {
    &--slim {
      position: absolute;
      top: 41px;
      left: 52px;
      width: 100px;
      height: 106px;
    }

    &--pro {
      position: absolute;
      top: 47px;
      left: 33px;
      width: 134px;
      height: 100px;
    }
  }

  .programs__item-title {
    margin: 77px 0 0 214px;
    text-transform: uppercase;
    font-size: $font-size+ 16;
  }
}

.programs__item-body {
  margin: 39px 0 27px 0;
  padding-left: 52px;
  box-sizing: border-box;

  .programs__item-text {
    font-family: "Arial", sans-serif;
    line-height: 24px;
    max-width: 467px;
    width: 100%;
    margin: 0;
  }
}

.programs__item-footer {
  padding: 0 0 55px 52px;
  box-sizing: border-box;
  text-transform: uppercase;

  .programs__catalog-link {
    color: $base-color-black;
    text-transform: uppercase;

    .programs__catalog-arrow {
      margin-left: 26px;
    }
  }
}

