// Начните писать стили здесь
@import "variable";
@import "header";
@import "footer";
@import "about-product";
@import "bilboard";
@import "example";
@import "map";
@import "programs";
@import "app";
@import "../fonts/style.css";
