$base-color-white: #ffffff;
$base-color-green: #68b738;
$base-color-green-hover: #5eaa2f;
$base-color-black: #000000;
$base-color-gray: #f2f2f2;
$base-color-gray-border: #cdcdcd;
$base-margin: 4px;
$base-padding: 4px;
$border-radius: 4px;
$font-size: 20px;
